body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e6e6fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 10px;
    width: 90%;
    max-width: 800px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

header h1 {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: #000;
    margin: 0;
}

.menu {
    display: flex;
    justify-content: space-around;
    background-color: #4682b4;
    padding: 10px;
    border-radius: 5px;
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    background-color: #4682b4;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}

.menu-item:hover {
    background-color: #5a9bd3;
}

.menu-item img {
    width: 30px;
    height: auto;
    margin-bottom: 5px;
}

.menu-item span {
    font-size: 14px;
}


.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4682b4;
    color: #fff;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #5a9bd3;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.btn-lista,
.btn-regresar {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4682b4;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.btn-lista:hover,
.btn-regresar:hover {
    background-color: #5a9bd3;
}

.table-container {
    overflow-x: auto;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #000;
    text-align: left;
}

th {
    background-color: #4682b4;
    color: white;
}
