body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e6e6fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.container {
    text-align: center;
    background-color: #e6e6fa;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 10px;
    width: 90%; /* Ajusta este valor para un contenedor más ancho */
    max-width: 800px; /* Ajusta este valor para permitir más contenido */
    height: 90%; /* Asegura que el contenedor ocupe la mayor parte de la altura de la ventana */
    overflow-y: auto; /* Permite desplazamiento vertical */
    overflow-x: hidden; /* Evita desplazamiento horizontal */
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 50px;
    height: auto;
    margin-right: 20px;
}

h1 {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: #000;
    margin: 0;
}

.info-system {
    background-color: #999;
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;
}

.info-system h2 {
    color: #fff;
    margin: 0;
}

.menu {
    display: flex;
    justify-content: space-around;
    background-color: #4682b4;
    padding: 10px;
    border-radius: 5px;
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    background-color: #4682b4;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}

.menu-item:hover {
    background-color: #5a9bd3;
}

.menu-item img {
    width: 30px;
    height: auto;
    margin-bottom: 5px;
}

.menu-item span {
    font-size: 14px;
}

.content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 760px; /* Ajusta este valor para permitir más contenido */
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden; /* Evitar que el contenido sobrepase el contenedor */
}

.table-container {
    max-height: 600px; /* Ajusta este valor según sea necesario */
    overflow-y: auto;
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #4682b4;
    color: #fff;
}

/* Estilos para los botones de edición y eliminación */
button {
    width: 60px;
    height: 30px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #1e5f99;
}

/* Botón Editar */
button:nth-child(1) {
    background-color: #4682b4;
    margin-right: 10px;
}

/* Botón Eliminar */
button:nth-child(2) {
    background-color: #5a9bd3;
}


.existentes-button {
    background-color: #4682b4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-bottom: 2px; /* Espacio de 1 píxel debajo de este botón */
}

.content > button:nth-child(4) {
    background-color: #4682b4;
    width: 90px;
    height: 50px;
    margin-right: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.content > button:nth-child(3) {
    background-color: #4682b4;
    width: 90px;
    height: 50px;
    margin-right: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}
